@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');
body {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
}
img {
  margin-top: 20px;
  height: 80px;
}
#game-over,
#winner,
#myCanvas {
  text-align: center;
  width: 100%;
  position:fixed;
  z-index: 1;
  top: 0; 
}

#game-over,
#winner {
  margin-top: 55px;
  padding-top: 50px;
  z-index: 2;
  display: none;
}

#game-over {
  padding-top: 100px;
}